version: "3"
services:
  #Dask Scheduler
  scheduler:
    build: .
    image: wlee0515/dask-notebook
    ports:
      - "8787:8787/tcp"
    command: ["dask-scheduler"]
    networks: 
      - dask_net

  #Dask Worker
  workers:
    depends_on:
      - scheduler
    image: wlee0515/dask-notebook
    command: ["dask-worker", "tcp://scheduler:8786"]
    deploy:
      replicas: 2
      resources:
        limits:
          cpus: "0.1"
          memory: 500M
      restart_policy:
        condition: on-failure 
    networks: 
      - dask_net

  #Jupyter Lab
  JupyterLab:
    depends_on:
      - scheduler
    image: wlee0515/dask-notebook
    ports:
      - "8888:8888/tcp"
    environment:
      - DASK_SCHEDULER_ADDRESS=tcp://scheduler:8786
    command: ["jupyter-lab", "--port=8888", "--no-browser", "--ip=0.0.0.0", "--allow-root", --NotebookApp.token='', --NotebookApp.password='']
    volumes:
      - ./playground:/home/myuser/playground
    networks: 
      - dask_net



networks:
    dask_net:
      driver: overlay
      attachable: true